<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;

  }

  .pin {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.3em;

  }

  hr {
    height: 8px;
    margin-top: 16px;
    background-color: #FF6A14;
    border: none;
    margin-bottom: 0;
  }

  .botton-green {
    height: 30px;
    width: 100%;
    background-color: #009739;
    margin-top: 4px;
  }

  .image-container {
    width: 100%;
    text-align: center;

  }

  img {
    height: 80px;
  }
</style>
<div class="image-container">

</div>
<div class="message-content">

  <p>Senhor Policial,</p>
  <p>Sua assinatura eletrônica foi gerada com sucesso!</p>
  <p>Na tela de assinar um documento, haverá um botão de solicição do PIN temporário.</p>
  <p>Com o recebimento do PIN a assinatura de um documento digital ode ser realizada.</p>
  <p>
    Célula de Tecnologia da Informação e Comunicação da PMCE
  </p>

</div>
<hr />
<div class="botton-green">

</div>
